html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    max-width: 800px;
  }
  
  header, footer {
    background-color: #80c1ff;
    color: black;
    line-height: 100px;
    padding: 0 20px;
    width: 100%;
  }
  
  .new-note, .note-display {
    padding: 20px;
  }
  
  .new-note {
    background: #ddd;
  }
  
  h1 {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  div {
    margin-bottom: 10px;
  }
  button {
      border-radius: 4px;
  }
  